# dependencies
node_modules/
.pnp/
.pnp.cjs
.yarn/
.yarnrc.yml
.pnpm-store/

# dotenv
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build outputs
/dist/
build/

# IDE / OS
.DS_Store
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.iml

# tests
coverage/
.nyc_output/

# editor/OS artifacts
*.class
*.log
*.pyc
*.swp

# TypeScript
*.tsbuildinfo
yarn.lock
package-lock.json